@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$main-font:  'Roboto', sans-serif;
$font-black: #262626;
$font-gold: goldenrod;
$bg-cream: #fafafa;
$bg-white: white;
$bg-modal: rgba(0, 0, 0, 0.4);
$boder-lightGray : lightgray;
$boder-lightBlue: #29a5db;
$boder-skyLightBlue: lightskyblue;
